{% extends 'admin/master.html' %}

{% block body %}
    <h1 class="text-center text-info p-1 m-1 mb-2">Báo cáo thống kê</h1>

    <div>
        <label style="border-radius: 45px 100px 0 0; background: lime; padding: 5px 25px 5px 15px"
               class="border text-white font-weight-bolder m-0">Thống kê theo tháng</label>
        <div class="d-block m-0 mb-2" style="background: lime; height: 1px"></div>
        <div class="row m-0 p-0">
            <a class="btn btn-primary col-md-5 m-md-1 m-sm-0" href="/admin/revenue_stats">Thống kê doanh thu theo thể loại</a>
            <a class="btn btn-primary col-md-4 m-md-1 m-sm-0 mt-1 mt-sm-1" href="/admin/frequency_stats">Thống kê tần suất đầu sách</a>
        </div>
    </div>

    <div>
        <label style="border-radius: 45px 100px 0 0; background: lime; padding: 5px 25px 5px 15px"
               class="border text-white font-weight-bolder m-0 mt-5">Thống kê theo ngày</label>
        <div class="d-block m-0 mb-2" style="background: lime; height: 1px"></div>
        <h6 class="text-center text-success p-1 mb-2">Thống kê doanh thu theo từng loại sách</h6>
        <div class="row" style="border: 1px solid lightgray">
            <div class="col-md-5 col-sm-12">
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Tên sản phẩm</th>
                        <th>Doanh thu</th>
                    </tr>
                    {% for s in stats %}
                        <tr>
                            <td>{{ s[0] }}</td>
                            <td>{{ s[1] }}</td>
                            <td>{{ "{:,.0f}".format(s[2]) }} VNĐ</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-7 col-sm-12">
                <form>
                    <div class="form-group mt-3">
                        <input type="text" placeholder="Nhập từ khóa..." class="form-control" name="kw"/>
                    </div>
                    <div class="form-group">
                        <label>Từ ngày</label>
                        <input type="date" class="form-control" name="from_date" max="{{ today }}"/>
                    </div>
                    <div class="form-group">
                        <label>Đến ngày</label>
                        <input type="date" class="form-control" name="to_date" max="{{ today }}"/>
                    </div>
                    <div class="form-group">
                        <label>Theo tháng</label>
                        <input type="month" class="form-control" name="month"
                               max="{{ today.split('-')[0] + '-' + today.split('-')[1] }}"/>
                    </div>
                    <div>
                        <input type="submit" value="Lọc dữ liệu" class="btn btn-info"/>
                    </div>
                </form>
                <canvas id="revenueChart"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/my-chart.js') }}"></script>
    <script>
        let labels = []
        let data = []
        {% for s in stats %}
            labels.push('{{ s[1] }}')
            data.push({{ s[2] }})
        {% endfor %}

        window.onload = function () {
            drawBarChart(labels, 'Số tiền', data, "revenueChart")
        }
    </script>
{% endblock %}