{% extends 'admin/master.html' %}

{% block body %}
    <h1 class="text-center text-info p-1 m-1 mb-2">Nhập sách</h1>

    <form method="post">
        <table class="table" id="addTable">
            <tr>
                <td style="text-align: center" colspan=6">Ngày nhập: {{ date }}</td>
            </tr>
            <tr>
                <th>STT</th>
                <th>Sách</th>
                <th>Thể loại</th>
                <th>Tác giả</th>
                <th>Số lượng</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <input id="id" style="border: none; background: white; width: 50px" class="form-control" value="1"
                           disabled required/>
                </td>
                <td>
                    <input class="form-control" required/>
                </td>
                <td>
                    <select class="form-control" name="categories" id="categories" multiple required>
                        {% for c in categories %}
                            <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-control" name="authors" id="authors" multiple required>
                        {% for a in authors %}
                            <option value="{{ a.id }}">{{ a.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input class="form-control" type="number" id="quantity" value="{{ rule.min_quantity }}"
                           min="{{ rule.min_quantity }}" max="{{ rule.max_quantity }}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="addRow()" style="border: 1px solid lightgray" class="btn" type="button">+</button>
                </td>
            </tr>
        </table>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2">Lưu</button>
            {#            <button type="submit" class="btn btn-primary">Lưu</button>#}
        </div>
    </form>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('categories')
        new MultiSelectTag('authors')

        document.addEventListener("keydown", (e) => {
            if (e.key === "Enter") {
                addRow();
            }
        })
    </script>

{% endblock %}