{% extends 'admin/master.html' %}

{% block body %}
    <h1 class="text-center text-info p-1 m-1 mb-2">Thay đổi qui định</h1>

    <form method="post">
        <table class="table" id="">
            <tr>
                <td>
                    <h6>Số lượng nhập tối thiểu</h6>
                </td>
                <td>
                    <input type="number" class="form-control" value="{{ rule.min_quantity }}"  min="10" max="1000"/>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Số lượng nhập tối đa</h6>
                </td>
                <td>
                    <input type="number" class="form-control" value="{{ rule.max_quantity }}" min="10" max="1000"/>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Thời gian tự động tự động hủy đơn hàng</h6>
                </td>
                <td>
                    <input type="number" class="form-control" value="{{ rule.expired_hours }}" min="0" max="1000"/>
                </td>
            </tr>
        </table>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2">Cập nhật</button>
        </div>
    </form>


{% endblock %}