{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} -
        {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href="{{ admin_static.url(filename='bootstrap/bootstrap4/swatch/{swatch}/bootstrap.min.css'.format(swatch=config.get('FLASK_ADMIN_SWATCH', 'default')), v='4.2.1') }}"
              rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/style.css') }}">
        {% if config.get('FLASK_ADMIN_SWATCH', 'default') == 'default' %}
            <link href="{{ admin_static.url(filename='bootstrap/bootstrap4/css/bootstrap.min.css', v='4.2.1') }}"
                  rel="stylesheet">
        {% endif %}
        <link href="{{ admin_static.url(filename='admin/css/bootstrap4/admin.css', v='1.1.1') }}" rel="stylesheet">
        <link href="{{ admin_static.url(filename='bootstrap/bootstrap4/css/font-awesome.min.css', v='4.7.0') }}"
              rel="stylesheet">
        {% if admin_view.extra_css %}
            {% for css_url in admin_view.extra_css %}
                <link href="{{ css_url }}" rel="stylesheet">
            {% endfor %}
        {% endif %}
        <style>
            .hide {
                display: none;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/76334962e6.js" crossorigin="anonymous"></script>
    {% endblock %}
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
</head>
<body>
{% block page_body %}
    <div class="sidebar-wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header d-flex justify-content-center">
                {% block brand %}
                    <a class="navbar-brand text-white p-0 mt-1" href="{{ admin_view.admin.url }}"
                       style="font-size: 1.25rem">
                        <img src="{{ url_for('static', filename='img/logo_book.png') }}" class="p-1 pt-1 ms-1 me-1"
                             style="width: 2.5rem; border: solid 1px whitesmoke; border-radius: 10rem;
                             background: whitesmoke;">{{ admin_view.admin.name }}
                    </a>
                {% endblock %}
            </div>
            <div title="{{ current_user.name.capitalize() }}" class="m-2 d-flex align-items-center"
                 style="cursor: default">
                <div style="border: solid 1px white; border-radius: 10rem">
                    <img src="{{ url_for('static', filename='img/' + current_user.avatar) }}" style="height: 60px; padding: 2px">
                </div>
                <div class="col">
                    <h6 class="text-white mt-1">{{ current_user.name.capitalize() }}</h6>
                    <div class="ms-1 d-flex align-items-center">
                        <div style="border: solid 1px lawngreen; border-radius: 1em; background-color: lawngreen;
                        width: 10px; height: 10px; margin: 0 6px" class="p-0"></div>
                        <div style="font-size: .75rem">Online</div>
                    </div>
                </div>
            </div>
            <div class="d-block" style="background-color: white; padding: 1px 0 0; margin: 0 12px"></div>
            {% block main_menu %}
                <ul class="nav navbar-nav mr-auto">
                    {{ layout.menu() }}
                </ul>
            {% endblock %}
            <div class="sidebar-header">
                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="/admin/logout" class="logout">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content">

            <nav style="position: relative" class="navbar navbar-expand-lg navbar-light bg-light">
                {#                <div class="container-fluid">#}
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-left"></i>
                    <span>Menu</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% block menu_links %}
                        <ul class="nav navbar-nav ml-auto d-flex">
                            {{ layout.menu_links() }}
                        </ul>
                    {% endblock %}
                </div>
            </nav>

            {% block access_control %}
            {% endblock %}

            {% block messages %}
                {{ layout.messages() }}
            {% endblock %}

            {# store the jinja2 context for form_rules rendering logic #}
            {% set render_ctx = h.resolve_ctx() %}

            <div class="row w-100 ms-2">
                <div class="col-sm-12">
                    {% block body %}{% endblock %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block tail_js %}
    <script src="{{ admin_static.url(filename='vendor/jquery.min.js', v='3.5.1') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='bootstrap/bootstrap4/js/popper.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='bootstrap/bootstrap4/js/bootstrap.min.js', v='4.2.1') }}"
            type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/moment.min.js', v='2.9.0') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/bootstrap4/util.js', v='4.3.1') }}"
            type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/bootstrap4/dropdown.js', v='4.3.1') }}"
            type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='4.2.1') }}"
            type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/multi-level-dropdowns-bootstrap/bootstrap4-dropdown-ml-hack.js') }}"
            type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='admin/js/helpers.js', v='1.0.0') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    {% if admin_view.extra_js %}
        {% for js_url in admin_view.extra_js %}
            <script src="{{ js_url }}" type="text/javascript"></script>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block tail %}
{% endblock %}
</body>
</html>