<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a style="height: 40px" class="navbar-brand" href="/">
            <img class="h-100 ms-2 me-2" src="https://cdn-icons-png.flaticon.com/512/1903/1903162.png" alt="logo image">
            Book Store
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Thể loại</a>
                    <ul class="dropdown-menu bg-dark">
                        <li><a class="dropdown-item text-white" href="#">Link</a></li>
                        <li><a class="dropdown-item text-white" href="#">Another link</a></li>
                        <li><a class="dropdown-item text-white" href="#">A third link</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-inline-flex">
                <form class="d-flex" action="/" method="get">
                    <input class="form-control me-2" type="text" placeholder="Nhập văn bản..." name="kw">
                    <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <button class="btn btn-primary ms-2"><i class="fa-solid fa-user"></i></button>
            </div>
            <div>
            </div>
        </div>
    </div>
</nav>