<div class="header d-flex">
    <nav>
        <a class="navbar-brand" href="/">
            <img class="logo" src="../../static/img/logo_book.png" alt="logo image">
        </a>
        <a class="navbar-brand logo-name" href="/">Book Store</a>
    </nav>
</div>
<nav style="position: relative" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Thể loại</a>
                    <ul style="column-count: 3" class="dropdown-menu bg-dark">
                        {% for c in categories %}
                            <li><a class="dropdown-item text-white" href="/?cate_id={{ c.id }}">{{ c.name }}</a>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/cart">&#128722; Giỏ hàng <span
                            class="badge bg-danger cart-counter">{{ cart.total_quantity }}</span></a>
                </li>
            </ul>
            <div class="d-inline-flex">
                <form class="d-flex" action="/" method="get">
                    <input class="form-control me-2" type="text" placeholder="Nhập văn bản..." name="kw">
                    <button class="btn btn-primary icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button type="button" class="btn btn-primary d-block icon ms-2" data-bs-toggle="modal" data-bs-target="#modalForm">
    <i class="fa-solid fa-user"></i>
</button>
                </form>
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="Userlogin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/layout/header" method="post">
                    <div class="mb-3">
                        <label class="form-label">Tên đăng nhập: </label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên đăng nhập..." />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu..." />
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe">Ghi nhớ đăng nhập</label>
                    </div>
                    <div class="modal-footer d-block">
                        <p class="float-start">Chưa có tài khoản? <a class="link-primary" href="/signup">Đăng ký</a></p>
                        <button type="submit" class="btn btn-primary float-end">Đăng nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</nav>