{% extends 'layout/base.html' %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="card col-xs-12 col-md-3 mt-1">
                <img class="card-img-top h-100" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}