{% extends 'layout/base.html' %}

{% block content %}

    <br>

    <section class="container">
        <!-- Carousel -->
        <div id="demo" class="carousel slide container-fluid" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                {% for i in range(0, (recommend_books | length)) %}
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="{{ i }}"
                            {% if loop.first %}
                            class="active"
                            {% endif %}></button>
                {% endfor %}
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                {% for r in recommend_books %}
                    <div title="{{ r.name }}" class="carousel-item {% if loop.first %}active{% endif %}">
                        <a href="{{ r.url }}">
                            <img src="{{ r.image }}" alt="{{ r.name }}" class="d-block w-100 carousel-img">
                            <div class="carousel-caption">
                                <h3>{{ r.title }}</h3>
                                <p>{{ r.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <br>
        <div class="d-flex justify-content-between" style="background: whitesmoke">
            <h1 class="tw-text-3xl">Mới tải lên</h1>
            <a class="btn all" href="/list">Xem tất cả
                <i style="font-size: .75em" class="fa-solid fa-play fa-fw ms-1"></i></a>
        </div>
        <div class="d-flex row justify-content-center align-items-center flex-wrap p-0" style="background: whitesmoke">
            {% for b in books %}
                <div class="card mb-2 col-sm-6 col-md-3">
                    <a href="/books/{{ b.id }}">
                        <div>
                            <img title="{{ b.name }}" class="card-img-top h-100" src="{{ b.image }}"
                                 alt="Card image">
                        </div>
                    </a>
                    <a class="normal" href="/books/{{ b.id }}">
                        <div class="card-body">
                            <h4 title="{{ b.name }}" class="card-title w-100">{{ b.name }}</h4>
                            <p title="{{ b.price }} VNĐ" class="card-text">{{ b.price }} VNĐ</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    <br>

    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}