{% extends 'layout/base.html' %}

{% block content %}

    <br>
    <section class="container">
        {% if books %}
            <div style="justify-content: center; align-items: center" class="d-flex row">
                {% for b in books %}
                    <div class="card mb-2 ms-1 me-1 col-sm-5 col-md-3 col-lg-2">
                        <a href="/books/{{ b.id }}">
                            <div>
                                <img title="{{ b.name }}" class="card-img-top h-100" src="{{ b.image }}"
                                     alt="Card image">
                            </div>
                        </a>
                        <a class="normal" href="/books/{{ b.id }}">
                            <div class="card-body">
                                <h4 title="{{ b.name }}" class="card-title w-100">{{ b.name }}</h4>
                                <p title="{{ b.price }} VNĐ" class="card-text">{{ b.price }} VNĐ</p>
                            </div>
                        </a>
                        <div style="justify-content: flex-start" class="card-footer d-flex w-100">
                            <a href="" onclick="addToCart('{{ b.id }}', '{{ b.name }}', {{ b.price }})"
                               class="btn btn-danger">Đặt hàng</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <ul style="justify-content: center" class="pagination mt-1 d-flex">
                {% for i in range(pages) %}
                    <li class="page-item"><a class="page-link" href="/?page={{ i + 1 }}">{{ i + 1 }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="alert alert-info mt-2">KHÔNG có sản phẩm nào!!!</p>
        {% endif %}
    </section>
    <br>

    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}